/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  background-color: #f7f7fe;
  background-image: url("../img/lines-bg-left.svg"),
    url("../img/lines-bg-right.svg");
  background-position: left -120px bottom -460px,
    right -100px top -100px;
  background-repeat: no-repeat;
  color: #6e728e;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 14px;
  border: 1px solid transparent;
  margin: 0;
  border-radius: 6px;
  background-color: transparent;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  background-color: #6D72DE;
  background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);;
  color: #fff;
}

.button-primary:hover {
  border-color: #6D72DE;
  background-color: #fff;
  background-image: none;
  color: #6D72DE;
}

.button-white {
  background-color: #fff;
  color: #6D72DE;
}

.button-white:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* PAGE */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
}

.pricing-switch {
  margin-bottom: 64px;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-label {
  font-size: 15px;
  line-height: 28px;
  color: rgba(110, 114, 142, 0.5);
  cursor: pointer;
}

.switch-label:hover {
  color: #6E728E;
}

.switch-control {
  position: relative;
  width: 56px;
  height: 32px;
  padding: 4px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
  background-color: #696EDD;
  background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);;
}

.switch-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: margin 0.2s ease;
}

.switch-control-annual,
.switch-control-monthly {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch-input-annual:checked ~ .switch-control .switch-control-monthly,
.switch-input-monthly:checked ~ .switch-control .switch-control-annual {
  z-index: 5;
}

.switch-input-monthly:checked ~ .switch-control .switch-circle {
  margin-left: 24px;
}

.pricing {
  width: 100%;
}

.pricing-inner {
  display: flex;
  align-items: center;
}

.pricing-plan {
  flex-grow: 1;
  max-width: 350px;
  padding: 32px;
  background-color: #fff;
  text-align: center;
}

.pricing-plan:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pricing-plan:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pricing-plan-best {
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 10px;
  background-color: #696EDD;
  background-image: linear-gradient(135.06deg, #A2A7F0 -0.05%, #696EDD 100.05%);;
  color: #fff;
}

.pricing-plan-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 28px;
}

.pricing-plan-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  font-size: 72px;
  line-height: 72px;
}

.pricing-plan-currency {
  margin-right: 8px;
  font-size: 40px;
  line-height: 40px;
}

.pricing-plan-features {
  padding: 0;
  border-top: 1px solid rgb(110, 114, 142, 0.25);
  margin: 0;
  margin-bottom: 32px;
  list-style: none;
}

.pricing-plan-best .pricing-plan-features {
  border-color: rgba(255, 255, 255, 0.25);
}

.pricing-plan-feature {
  padding: 12px;
  border-bottom: 1px solid rgb(110, 114, 142, 0.25);
}

.pricing-plan-best .pricing-plan-feature {
  border-color: rgba(255, 255, 255, 0.25);
}
